@using MedicalStorageSystem.Models.EntityFramework
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="get" style="display:flex" action="@Url.Action("Index", "Ilaclar")">
    <div class="form-group" style="width:100%">
        <label for="searchTerm">Arama Terimi:</label>
        <div>
            <input type="text" name="searchTerm" id="searchTerm" class="form-control" placeholder="Aramak istediğiniz kelimeyi girin" value="@Request["searchTerm"]" onchange="this.form.submit()" />
            @if (User.IsInRole("A") || User.IsInRole("B"))
            {
                <a class="btn btn-success" href="/Ilaclar/Yeni" style="margin-left:10px">İlaç Ekle</a>
            }
        </div>

    </div>
</form>

<table class="table table-bordered" id="tblPersoneller">
    <thead>
        <tr>
            <th>ID</th>
            <th>İlaç Kodu</th>
            <th>Ad</th>
            <th>Üretici</th>
            <th>Fiyat</th>
            <th>Stok Miktarı</th>
            @if (User.IsInRole("A") || User.IsInRole("B"))
            {
                <th></th>
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var Ilac in Model)
        {
            <tr>
                <td>@Ilac.ilac_id</td>
                <td>@Ilac.medicine_code</td>
                <td>@Ilac.isim</td>
                <td>@Ilac.uretici</td>
                <td>@Ilac.fiyat</td>
                <td>@Ilac.stok_miktari</td>

                @if (User.IsInRole("A") || User.IsInRole("B"))
                {
                    <td><a class="btn btn-primary" href="/Ilaclar/Guncelle/@Ilac.ilac_id">Güncelle</a></td>
                    <td><a class="btn btn-warning" style="background-color:red" href="/Ilaclar/Sil/@Ilac.ilac_id">Sil</a></td>
                }

            </tr>
        }
    </tbody>
</table>
