@using MedicalStorageSystem.Models.EntityFramework
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="get" style="display:flex" action="@Url.Action("Index", "AnaSayfa")">
    <div class="form-group" style="width:100%">
        <label for="searchTerm">Arama Terimi:</label>
        <div>
            <input type="text" name="searchTerm" id="searchTerm" class="form-control" placeholder="Aramak istediğiniz kelimeyi girin" value="@Request["searchTerm"]" onchange="this.form.submit()" />
        </div>
    </div>

</form>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Satış ID</th>
            <th>Müşteri Adı</th>
            <th>İlaç Adı</th>
            <th>İlaç Kodu</th>
            <th>Satılan Miktar</th>
            <th>Tarih</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vw_SatisDetay in Model)
        {
            <tr>
                <td>@vw_SatisDetay.SatisID</td>
                <td>@vw_SatisDetay.MusteriAdi</td>
                <td>@vw_SatisDetay.IlacAdi</td>
                <td>@vw_SatisDetay.IlacKodu</td>
                <td>@vw_SatisDetay.Miktar</td>
                <td>@vw_SatisDetay.Tarih.ToString("dd.MM.yyyy")</td>
            </tr>
        }
    </tbody>
</table>
